
/*reset*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/*-----------------------*/

header {
    height: auto;
    padding-bottom: 0.8rem;
    background-color: #ffd700;
}

#btn-sign-up {
    font-weight: 500;
}