@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/*reset*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer-content {
    background-color: #ff8c00;
}
#timer {
    width: 100%;
    height: auto;
    margin: 0;
    color: #000000;
}

.btn-control-timer {
    align-items: flex-end;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
}
.athlete-content1 h1, .athlete-content2 h1{
    margin: 0;
    width: auto;
}

.pts {
    width: auto;
    color: #ffffff;
}

@media (min-width: 100px) {
    .btn-control-timer {
        width: 75%;
    }
    #timer {
        font-size: 2.4rem;
        font-weight: 700;
    }
    .pts {
        font-size: 2.5rem;
        font-weight: 700;
    }
}

@media (min-width: 200px) {
    #timer {
        font-size: 3.3rem;
        font-weight: 700;
    }
    .pts {
        font-size: 3rem;
        font-weight: 700;
    }
}

@media (min-width: 270px) {
    #timer {
        font-size: 4rem;
        font-weight: 700;
    }
    .pts {
        font-size: 3.8rem;
        font-weight: 700;
    }
}

@media (min-width: 320px) {
    #timer {
        font-size: 4.6rem;
        font-weight: 700;
    }
    .pts {
        font-size: 4.3rem;
        font-weight: 700;
    }
}

@media (min-width: 425px) {
    #timer {
        font-size: 5.5rem;
        font-weight: 600;
    }
    .pts {
        font-size: 5rem;
        font-weight: 700;
    }
}

@media (min-width: 768px) {
    .timer-content {
        border-radius: 20px;
        border: 1px solid #212529;
    }
}

@media (min-width: 854px) {
    #timer {
        font-size: 6rem;
        font-weight: 600;
    }
    .pts {
        font-size: 6rem;
        font-weight: 700;
    }
}

@media (min-width: 1020px) {
    .btn-control-timer {
        width: 70%;
    }
    #timer {
        font-size: 7.3rem;
        font-weight: 600;
    }
    .pts {
        font-size: 7rem;
        font-weight: 700;
    }
}

@media (min-width: 1200px) {
    .btn-control-timer {
        width: 65%;
    }
    #timer {
        font-size: 8.5rem;
        font-weight: 600;
    }
    .pts {
        font-size: 8rem;
        font-weight: 700;
    }
}

@media (min-width: 1400px) {
    .btn-control-timer {
        width: 60%;
    }
    #timer {
        font-size: 10.3rem;
        font-weight: 600;
    }
    .pts {
        font-size: 9rem;
        font-weight: 700;
    }
}

@media (min-width: 1500px) {
    .btn-control-timer {
        width: 55%;
    }
    #timer {
        font-size: 11rem;
        font-weight: 600;
    }
    .pts {
        font-size: 10rem;
        font-weight: 700;
    }
}

@media (min-width: 1700px) {
    #timer {
        font-size: 12rem;
        font-weight: 600;
    }
    .pts {
        font-size: 10.5rem;
        font-weight: 700;
    }
}

@media (min-width: 1850px) {
    .btn-control-timer {
        width: 50%;
    }
    #timer {
        font-size: 13rem;
        font-weight: 600;
    }
    .pts {
        font-size: 11.5rem;
        font-weight: 700;
    }
}

@media (min-width: 2000px) {
    .btn-control-timer {
        width: 45%;
    }
    #timer {
        font-size: 14.5rem;
        font-weight: 600;
    }
    .pts {
        font-size: 12rem;
        font-weight: 700;
    }
}

@media (min-width: 2700px) {
    #timer {
        font-size: 18rem;
        font-weight: 600;
    }
    .pts {
        font-size: 13rem;
        font-weight: 700;
    }
}
