@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/*reset*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
body::-webkit-scrollbar{
    background-color: none;
    width: 10px;
}
body::-webkit-scrollbar-track {
    background-color: #fff9c4;
}
body::-webkit-scrollbar-thumb {
    background-color: #13131390;
    border-radius: 8px;
}
body::-webkit-scrollbar-button {
    display: none;
}

body {
    background-color: #fff9c4;
}

.bg-nav {
    background-color: #fff9c4;
}
.nav-link {
    color: #04D939;
    transition: color cubic-bezier(0.3, 0.15, 0.3, 1);
}
.nav-link:hover {
    color: #03B830;
}
.nav-link:focus {
    color: #029727;
}

/* 
Button menu drodown
*/
.menuButton {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 13%;
    color: #090909;
    width: 3.5em;
    height: 3.5em;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px #c5c5c5,
               -6px -6px 12px #ffffff;
  }
  
  .menuButton:hover {
    border: 1px solid white;
  }
  
  .menuButton:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5,
               inset -4px -4px 12px #ffffff;
  }
  
  input[type = "checkbox"] {
    -webkit-appearance: none;
    display: none;
    visibility: hidden;
  }
  
  .menuButton span {
    width: 30px;
    height: 4px;
    background: #131313;
    border-radius: 100px;
    transition: 0.3s ease;
  }
  
  input[type = "checkbox"]:checked ~ span.top {
    transform: translateY(290%)rotate(45deg);
    width: 40px;
  }
  
  input[type = "checkbox"]:checked ~ span.bot {
    transform: translateY(-270%) rotate(-45deg);
    width: 40px;
    box-shadow: 0 0 10px #495057;
  }
  
  input[type = "checkbox"]:checked ~ span.mid {
    transform: translateX(-20px);
    opacity: 0;
  }
  

  
header {
    padding-bottom: .15rem;
    background-color: #ffcf00;
}

#btn-signUp, #btn-LogIn {
    cursor: pointer;
    font-weight: 500;
}

.title {
    display: flex;
    justify-content: center;
}
.title h3 {
    font-weight: 400;
}
.title h3::after {
    content: "";
    border-top: 2px solid #000000;
    width: 85%;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5%;
}
.text {
    text-align: justify;
    margin-left: 1.5%;
    margin-right: 1.5%;
}
.btn-use {
    background-color: #65daf499;
    outline: 1.5px solid #0d6efd95;
    border: none;
             /* x | y | blur-radius | spread-radius | color */
    box-shadow: 1px 1px 5.5px 1.5px #0d6efd98;
    transition: all .4s;
}
.btn-use:hover {
    background-color: #65daf4;
    outline: 1.8px solid #0d6efd;
             /* x | y | blur-radius | spread-radius | color */
    box-shadow: 1px 1px 2px 1px #0d6dfde0;
}
.btn-use:focus {
         /* x | y | blur-radius | spread-radius | color */
    box-shadow: inset 1px 1.5px 1px 1px #0d6efd98;
    background-color: #65daf499;
    outline: 1.5px solid #0d6efd95;
}
.tittleMessageContact {
    width: fit-content;
    position: absolute;
}
.tittleMessageContact h5 {
    border: 2px solid #65daf4;
    padding: .3rem;
    background-color: #e0a954;
    position: relative;
    top: -18px;
}