@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/*reset*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer-content {
    background-color: #ffcf00;
}
.timer-content h2 {
    height: 75%;
    width: auto;
}

#timer {
    width: 100%;
    height: auto;
    margin: 0;
    color: #000000;
}

.btn-control-timer {
    height: 25%;
    align-items: flex-end;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
}
#btn-start {
    background-color: #1dcb00;
    transition: all .5s;
}
#btn-start:hover {
    background-color: #1ac300;
}
#btn-start:focus {
    box-shadow: none;
}

#btn-pause {
    background-color: #ffffff;
    transition: all .5s;
}
#btn-pause:hover {
    background-color: #e8e8e8;
}
#btn-pause i {
    padding-left: 0.2em;
    padding-right: 0.2em;
}

#btn-restart {
    background-color: #ff1116;
    transition: all .5s;
}
#btn-restart:hover {
    background-color: #ec0c10;
}
.athlete-content1 h1, .athlete-content2 h1{
    margin: 0;
    width: auto;
}

.pts {
    width: auto;
    color: #ffffff;
}
#content-btns-pts-1, #content-btns-pts-2 {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
}

#content-btns-pts-1 button, #content-btns-pts-2 button {
    font-weight: 600;
}
#content-btns-pts-1 button:focus , #content-btns-pts-2 button:focus, .btn-punishment:focus, .btn-advantage:focus {
    box-shadow: none;
}

.content-punishment-advantage {
    display: flex;
    justify-content: space-between;
}
.pts-advantage {
    background-color: #008000;
}
.pts-punishment {
    background-color: #ff0000;
}
.pts-advantage, .pts-punishment {
    margin: 0;
    width: 1.3em;
    height: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}
#content-btns-punishment-advantage-1, #content-btns-punishment-advantage-2 {
    display: flex;
    justify-content: space-between;
}
.btn-advantage {
    border: 1px solid #212529;
    font-weight: 600;
    background-color: #008000;
}
.btn-punishment {
    border: 1px solid #212529;
    font-weight: 600;
    background-color: #ff0000;
}
@media (min-width: 100px) {

    .pts-advantage, .pts-punishment {
        font-weight: 600;
        font-size: 2rem;
    }
    .content-punishment-advantage, #content-btns-punishment-advantage-1, #content-btns-punishment-advantage-2 {
        width: auto;
        /*padding top-right-bottom-left*/
        padding: 0 1em 1em 1em;
    }
    .btn-control-timer, #content-btns-pts-1, #content-btns-pts-2 {
        width: 75%;
    }

    #timer {
        font-size: 2.4rem;
        font-weight: 700;
    }
    .pts {
        font-size: 2.5rem;
        font-weight: 700;
    }
}

@media (min-width: 200px) {

    .pts-advantage, .pts-punishment {
        font-weight: 600;
        font-size: 2.3rem;
    }

    #timer {
        font-size: 3.3rem;
        font-weight: 700;
    }
    .pts {
        font-size: 3rem;
        font-weight: 700;
    }
}

@media (min-width: 270px) {

    .pts-advantage, .pts-punishment {
        font-weight: 600;
        font-size: 2.4rem;
    }
    
    #timer {
        font-size: 4rem;
        font-weight: 700;
    }
    .pts {
        font-size: 3.8rem;
        font-weight: 700;
    }
}

@media (min-width: 320px) {

    .pts-advantage, .pts-punishment {
        font-weight: 600;
        font-size: 2.5rem;
    }

    .btn-control-timer, #content-btns-pts-1, #content-btns-pts-2 {
        width: 70%;
    }
    #timer {
        font-size: 4.6rem;
        font-weight: 700;
    }
    .pts {
        font-size: 4.3rem;
        font-weight: 700;
    }
}

@media (min-width: 425px) {

    header {
        display: none;
    }
    
    .pts-advantage, .pts-punishment {
        font-weight: 600;
        font-size: 2.6rem;
    }

    .content-punishment-advantage, #content-btns-punishment-advantage-1, #content-btns-punishment-advantage-2 {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        /*padding top-right-bottom-left*/
        padding: 0 1.5em 1em 1.5em;
    }

    .btn-control-timer, #content-btns-pts-1, #content-btns-pts-2 {
        width: 50%;
    }
    #timer {
        font-size: 5.5rem;
        font-weight: 600;
    }
    .pts {
        font-size: 5rem;
        font-weight: 700;
    }
}

@media (min-width: 768px) {
    header {
        display: block;
    }

    header::after {
        visibility: hidden;
        content: "<br>";
    }
    header::before {
        visibility: hidden;
        content: "<br>";
    }

    .pts-advantage, .pts-punishment {
        font-weight: 600;
        font-size: 2.3rem;
    }

    .content-punishment-advantage, #content-btns-punishment-advantage-1, #content-btns-punishment-advantage-2 {
        width: auto;
        /*padding top-right-bottom-left*/
        padding: 0 1em 1em 1em;
    }

    .btn-control-timer, #content-btns-pts-1, #content-btns-pts-2 {
        width: 75%;
    }
    .timer-content {
        border-radius: 20px;
        border: 1px solid #212529;
    }
}

@media (min-width: 854px) {
    
    .pts-advantage, .pts-punishment {
        font-weight: 600;
        font-size: 2.4rem;
    }

    #timer {
        font-size: 6rem;
        font-weight: 600;
    }
    .pts {
        font-size: 6rem;
        font-weight: 700;
    }
}

@media (min-width: 1020px) {

    .pts-advantage, .pts-punishment {
        font-weight: 600;
        font-size: 2.5rem;
    }

    .btn-control-timer, #content-btns-pts-1, #content-btns-pts-2 {
        width: 70%;
    }

    #timer {
        font-size: 7.3rem;
        font-weight: 600;
    }
    .pts {
        font-size: 7rem;
        font-weight: 700;
    }
}

@media (min-width: 1200px) {

    .pts-advantage, .pts-punishment {
        font-weight: 600;
        font-size: 2.6rem;
    }

    .content-punishment-advantage, #content-btns-punishment-advantage-1, #content-btns-punishment-advantage-2 {
        margin: 0 auto 0 auto;
        width: 90%;
        /*padding top-right-bottom-left*/
        padding: 0 1em 1em 1em;
    }

    .btn-control-timer, #content-btns-pts-1, #content-btns-pts-2 {
        width: 65%;
    }

    #timer {
        font-size: 8.5rem;
        font-weight: 600;
    }
    .pts {
        font-size: 8rem;
        font-weight: 700;
    }
}

@media (min-width: 1400px) {

    .pts-advantage, .pts-punishment {
        font-weight: 600;
        font-size: 2.7rem;
    }

    .content-punishment-advantage, #content-btns-punishment-advantage-1, #content-btns-punishment-advantage-2  {
        margin: 0 auto 0 auto;
        width: 85%;
        /*padding top-right-bottom-left*/
        padding: 0 1em 1em 1em;
    }

    .btn-control-timer, #content-btns-pts-1, #content-btns-pts-2 {
        width: 60%;
    }

    #timer {
        font-size: 10.3rem;
        font-weight: 600;
    }
    .pts {
        font-size: 9rem;
        font-weight: 700;
    }
}

@media (min-width: 1500px) {

    .pts-advantage, .pts-punishment {
        font-weight: 600;
        font-size: 2.8rem;
    }
    
    .content-punishment-advantage, #content-btns-punishment-advantage-1, #content-btns-punishment-advantage-2  {
        margin: 0 auto 0 auto;
        width: 80%;
        /*padding top-right-bottom-left*/
        padding: 0 1em 1em 1em;
    }

    .btn-control-timer, #content-btns-pts-1, #content-btns-pts-2 {
        width: 50%;
    }

    #timer {
        font-size: 11rem;
        font-weight: 600;
    }
    .pts {
        font-size: 10rem;
        font-weight: 700;
    }
}

@media (min-width: 1700px) {

    .pts-advantage, .pts-punishment {
        font-weight: 600;
        font-size: 2.9rem;
    }

    .btn-control-timer, #content-btns-pts-1, #content-btns-pts-2 {
        width: 45%;
    }
    #timer {
        font-size: 12rem;
        font-weight: 600;
    }
    .pts {
        font-size: 10.5rem;
        font-weight: 700;
    }
}

@media (min-width: 1850px) {

    .pts-advantage, .pts-punishment {
        font-weight: 600;
        font-size: 3rem;
    }

    .content-punishment-advantage, #content-btns-punishment-advantage-1, #content-btns-punishment-advantage-2  {
        margin: 0 auto 0 auto;
        width: 75%;
        /*padding top-right-bottom-left*/
        padding: 0 1em 1em 1em;
    }

    .btn-control-timer, #content-btns-pts-1, #content-btns-pts-2 {
        width: 40%;
    }

    #timer {
        font-size: 13rem;
        font-weight: 600;
    }
    .pts {
        font-size: 11.5rem;
        font-weight: 700;
    }
}

@media (min-width: 2000px) {

    .pts-advantage, .pts-punishment {
        font-weight: 600;
        font-size: 3.2rem;
    }

    .content-punishment-advantage, #content-btns-punishment-advantage-1, #content-btns-punishment-advantage-2  {
        margin: 0 auto 0 auto;
        width: 70%;
        /*padding top-right-bottom-left*/
        padding: 0 0.5em 1em 0.5em;
    }

    .btn-control-timer, #content-btns-pts-1, #content-btns-pts-2 {
        width: 35%;
    }

    #timer {
        font-size: 14.5rem;
        font-weight: 600;
    }
    .pts {
        font-size: 12rem;
        font-weight: 700;
    }
}

@media (min-width: 2700px) {
    .pts-advantage, .pts-punishment {
        font-weight: 600;
        font-size: 3.4rem;
    }

    #timer {
        font-size: 18rem;
        font-weight: 600;
    }
    .pts {
        font-size: 13rem;
        font-weight: 700;
    }
}
