@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/*reset*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
header {
    padding-bottom: .15rem;
    background-color: #ffcf00;
}

#btn-signUp, #btn-LogIn {
    cursor: pointer;
    font-weight: 500;
}

.title {
    display: flex;
    justify-content: center;
}
.title h3 {
    font-weight: 400;
}
.title h3::after {
    content: "";
    border-top: 2px solid #000000;
    width: 85%;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5%;
}
.text {
    text-align: justify;
    margin-left: 1.5%;
    margin-right: 1.5%;
}
.btn-use {
    background-color: #ffcf00;
    border: none;
}
.btn-use:focus {
    box-shadow: none;
    border: none;
}
.btn-use:hover {
    border: 1px solid #daa520;
}

.tittleMessageContact {
    width: fit-content;
    position: absolute;
}
.tittleMessageContact h5 {
    border: 2px solid #65daf4;
    padding: .3rem;
    background-color: #a2895de4;
    position: relative;
    top: -18px;
}